#jax==0.2.19
#jaxlib==0.1.70
immutables==0.16
jupyter==1.0.0
jupyter_contrib_nbextensions==0.5.1
matplotlib
#pennylane-cirq==0.16.0
#pennylane-forest==0.16.0
#pennylane-qiskit==0.16.0
#pennylane-qsharp==0.8.0
#pennylane-sf==0.16.0
pennylane==0.17.0
tensorflow
torch
tqdm
